body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
#etchTilesBoxElement{
    display: flex;
    flex-wrap: wrap;
    height: 320px;
    width: 320px;
    background-color: #767676;
    border-style: solid;
}
.tile{
    background-color: #e6e6e6;
    margin: 0;
    padding: 0;
    border-style: solid;
    border-width: 0.001px;
}
.tile:hover{
    background-color: black;
    transition: 0s;
}
