body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    background: #9bc5ffbd;
    font-family: sans-serif;
}
#etchTilesBoxElement{
    display: flex;
    flex-wrap: wrap;
    height: 320px;
    width: 320px;
    min-width: 320px;
    background-color: #767676;
    border-style: solid;
    justify-self: center;
}
.tile{
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    border-style: solid;
    border-width: thin;
    border-color: rgb(30, 30, 30);
}
.tile:hover{
    background-color: rgb(48, 48, 48);
    transition: 0s;
}
#chooseNumberOfTiles{
    width: 300px;
}

#chooseTiles{
    width: 30px;
    text-align: center;
    margin-bottom: 10px;
}

input[type=number] {
-moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {

-webkit-appearance: none;
margin: 0;
}
#leftSide{
display: flex;
flex-direction: column;
}
#chooseColorOfTiles{
    border: none;

}